<%- include("./layouts/header.ejs") %>
    <div class="card">
      <div class="left">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est fuga ullam modi facilis aliquid sed, obcaecati deleniti aspernatur animi velit?</div>
      <div class="right">
        <div class="title">Login Here</div>
        <form method="post" action="/">
          <div class="input_wrapper">
            <input type="text" placeholder="Username" name="username" value="<%= data.username %>">
            <% if(errors.username) { %>
            <p class="error show"><%= errors.username.msg %></p>
            <% } %>
          </div>
          <div class="input_wrapper">
            <input
              type="password"
              placeholder="Your password"
              name="password"
            >
            <% if(errors.password) { %>
            <p class="error show"><%= errors.password.msg %></p>
            <% } %>
          </div>

          <% if (errors.common) { %>
            <p class="error show"><%= errors.common.msg %></p>
          <% } %>

          <div class="button_wrapper">
            <button>Login</button>
            <div class="message">Don't have an account? <a href="/users/register">Register</a></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
