<%- include('./layouts/header.ejs') %>
    <div class="card">
      <div class="header">
        <h1 class="title">All users (<%= users.length %>)</h1>
        <div class="action">
          <a href="/users/register" class="button">Add New</a>
        </div>
      </div>
      <div class="users">
      <% users.forEach(function(user) { %>
        <div class="user" id="<%= user._id %>">
          <% if(user.avatar) { %>
            <img src="../public/uploads/avatars/<%= user.avatar %>" alt="">
          <% } else { %>
            <img src="../public/images/avatar.png" alt="">
          <% } %>

          <div class="infos">
            <div class="name"><%= user.name %></div>
            <div class="email"><%= user.email %></div>
            <div class="mobile"><%= user.mobile %></div>
          </div>

          <div class="actions">
            <button type="submit" onclick="deleteUser('<%= user._id %>')">Delete</button>
            <button type="submit">Edit</button>
          </div>
        </div>
      <% }) %>
      </div>
    </div>
  </div>

  <script>
    const deleteToast = Toastify({
      text: "User deleted successfully!",
      duration: 3000,
    })

    const deleteErrorToast = Toastify({
      text: "Oops! Something wrong!",
      duration: 3000,
    })

    async function deleteUser(userId) {
      let response = await fetch(`/users/${ userId }`, {
        method: "DELETE"
      })

      let result = await response.json()

      if(result.errors) {
        deleteErrorToast.showToast()
      } else {
        deleteToast.showToast();
        document.getElementById(userId).remove();
      }
    }

  </script>
</body>
</html>
